html, body
	font-family: "Arial", "Consolas", "Microsoft JhengHei", "Microsoft YaHei", "STHeiti";
.home
	max-width: none;
	padding 0px;
	padding-bottom 2rem;
.hero
	padding 4rem;
	background-color #282c34;
	color #fff;
